In [ ]:
#### This notebook was used to generate PropertyShark/tax_all.csv ####
# Involves crawling the PropertyShark website. 
# Use at your own risk, you might get IP banned from PropertyShark.

In [1]:
import pandas as pd
import numpy as np

import tax_crawler
import progress

In [2]:
addrs = ['3504 Bloomington Rd', '4210 Prariewest Dr', '1204 Belmeade Dr']
dat = tax_crawler.get_all_tax_info(addrs)

START (3 total, updates every 50)
0 : {'address_found': 1, 'taxes_found': 1, 'tax_year': 2019, 'tax_amount': 4233.0, 'market_value': 167340.0, 'land_value': 24210.0, 'building_value': 143130.0, 'address': '3504 Bloomington Rd'}
1 : {'address_found': 0, 'taxes_found': 0, 'tax_year': 0, 'tax_amount': 0.0, 'market_value': 0.0, 'land_value': 0.0, 'building_value': 0.0, 'address': '4210 Prariewest Dr'}
2 : {'address_found': 1, 'taxes_found': 1, 'tax_year': 2019, 'tax_amount': 5972.0, 'market_value': 197760.0, 'land_value': 64050.0, 'building_value': 133710.0, 'address': '1204 Belmeade Dr'}
3 / 3 = 1.000 (3.75 s)

In [3]:
dat

,address_found,taxes_found,tax_year,tax_amount,market_value,land_value,building_value,address
0,1,1,2019,4233.0,167340.0,24210.0,143130.0,3504 Bloomington Rd
1,0,0,0,0.0,0.0,0.0,0.0,4210 Prariewest Dr
2,1,1,2019,5972.0,197760.0,64050.0,133710.0,1204 Belmeade Dr

In [4]:
aaddress_frame = pd.read_csv('champaign-addresses.csv')
aaddress_frame = aaddress_frame[list(aaddress_frame['Status']=='Active')]
aaddress_frame = aaddress_frame[list(aaddress_frame['MainPoint']=='Y')]
aaddress_frame.reset_index(drop=True, inplace=True)

/home/xanthi/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (17,28,31,32,35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
addr_list = aaddress_frame['StreetAddress'].tolist()

In [6]:
N_ADDR = len(addr_list)
N_ADDR

27891

In [7]:
def export_100(n):
    addrs = addr_list[100*n:100*(n+1)]
    dat = tax_crawler.get_all_tax_info(addrs, updateEvery=None, printAll=False)
    dat.to_csv('PropertyShark/tax%d.csv' % n)

In [9]:
start_100 = 0
num_100 = int(np.ceil(N_ADDR/100))
"""prog = progress.Progress(total=num_100-start_100, updateEvery=1)
for i in range(start_100,num_100):
    export_100(i)
    prog.update()"""

START (18 total, updates every 1)
1 / 18 = 0.056 (238.67 s)
2 / 18 = 0.111 (429.15 s)
3 / 18 = 0.167 (615.98 s)
4 / 18 = 0.222 (813.00 s)
5 / 18 = 0.278 (1040.06 s)
6 / 18 = 0.333 (1249.42 s)
7 / 18 = 0.389 (1476.54 s)
8 / 18 = 0.444 (1675.98 s)
9 / 18 = 0.500 (1872.09 s)
10 / 18 = 0.556 (2073.88 s)
11 / 18 = 0.611 (2285.35 s)
12 / 18 = 0.667 (2535.95 s)
13 / 18 = 0.722 (2746.09 s)
14 / 18 = 0.778 (2951.57 s)
15 / 18 = 0.833 (3152.92 s)
16 / 18 = 0.889 (3366.68 s)
17 / 18 = 0.944 (3621.55 s)
18 / 18 = 1.000 (3833.09 s)

In [22]:
dfs = []
for i in range(num_100):
    fname = 'PropertyShark/tax%d.csv'%i
    td = pd.read_csv(fname)
    try:
        td = td.drop('Unnamed: 0',1)
        td.to_csv(fname, index=False)
        td = pd.read_csv(fname)
    except:
        pass
    dfs.append(td)
full_df = pd.concat(dfs)
full_df.to_csv('PropertyShark/tax_all.csv', index=False)

In [23]:
full_df.columns

Index(['address_found', 'taxes_found', 'tax_year', 'tax_amount',
       'market_value', 'land_value', 'building_value', 'address'],
      dtype='object')